.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: auto;
  font-family: "digit-7";
}

#calculatorMain {
  width: 290px;
  height: 320px;
  margin-top: 50px;
  background-color: black;
  border-radius: 25px;
}

#calculatorMain input {
  margin-bottom: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 30px;
  font-size: 14;
  font-family: "digital-7regular";
}

#row1 {
  padding-top: 10px;
}

#result {
  width: 242px !important;
  border-radius: 5px !important;
  height: 60px !important;
  background-color: white;
  margin-top: 20px;
  font-size: 30px !important;
  padding-right: 14px;
  text-align: right;
}

#clear {
  background-color: red;
  color: white;
}

.noPadding {
  margin-right: 0px !important;
}

#special {
  font-size: 20px !important;
}
